@use '../../foundation/variable';
@use '../../foundation/mixin';

.c-button {
    margin         : 0;
    border         : 0;
    text-align     : center;
    display        : inline-flex;
    justify-content: center;
    align-items    : center;
    font-size      : 1.6rem;
    background     : #fff;
    color          : variable.$c--default;
    font-weight    : 700;
    border-radius  : 60px;
    padding        : 10px 15% ;
    @include mixin.breakpoint(pc) {
        padding: 25px 20% ;
    }
}

