@use '../../foundation/variable';
@use '../../foundation/mixin';


.c-card {
    padding-bottom: 20px;
    display       : flex;
    flex-direction: column;
    @include mixin.breakpoint(tab) {
        flex-direction: row;
    }
    &__image {
        width          : 100%;
        object-fit     : cover;
        object-position: left;
        display: block;
        @include mixin.breakpoint(tab) {
            width: 50%;
        }
    }
    &__item {
        display        : flex;
        flex-direction : column;
        justify-content: space-between;
        background: variable.$bg--card;
        color  : #fff;
        width  : 100%;
                padding: 20px 5%;
        @include mixin.breakpoint(tab) {
            width  : 50%;
            padding: 20px 5%;
        }
        @include mixin.breakpoint(pc) {
            padding: 40px 5%;
        }
        &__heading {
            font-weight: 700;
            font-size  : 2.0rem;
            padding    : 10px 0;
            white-space: nowrap;
            @include mixin.breakpoint(tab) {
                padding-bottom: 10px;
                font-size: max(2.4vw, 18px);
            }
            @include mixin.breakpoint(pc) {
                font-size: 3.6rem;
                font-size: max(1.87vw, 22px);
            }
        }
        &__main {
            height    : 152px;
            overflow      : hidden;
            width         : 80%;
            padding-bottom: 30px;
            @include mixin.breakpoint(tab) {
                width      : 95%;
                // max-height : 152px;

            }
            &__title {
                font-weight: 700;
                font-size  : 1.6rem;
                padding    : 5px 0;
                @include mixin.breakpoint(pc) {
                    font-size: 2.0rem;
                    padding: 10px 0;
                }
            }
            &__text {
                font-size: 1.6rem;
                line-height: 1.5;
            }
        }
        &__button {
            text-align: center;
            padding-top: 40px;
            padding-bottom: 20px;
            @include mixin.breakpoint(tab) {
                padding-top: 40px;
            }
        }
    }
}

// .c-card {
//     display: grid;
//     grid-template-columns: 1fr;
//         @include mixin.breakpoint(tab) {
//             display: grid;
//             grid-template-columns: 1fr 1fr;
//             }

//     &__image {
//         width: 100%;
//         height         : 100%;
//         object-fit     : cover;
//                 object-position: left;

//         display: inline;
//         vertical-align: bottom;
//     }
//     &__item {
//         padding: 20px 5%;
//         background: pink;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         @include mixin.breakpoint(tab) {
//             padding: 20px 10%;

//         }
//         @include mixin.breakpoint(pc) {
//             padding: 40px 10%;
//         }

//         &__title {
//             padding: 10px 0;
//                 font-size: 2.0rem;
//             // @include mixin.breakpoint(tab) {
//             //     padding-bottom: 10px;

//             // }
//             @include mixin.breakpoint(pc) {
//                 font-size: 3.6rem;
//             }
//         }
//         &__subtitle {
//             padding: 5px 0;
//             @include mixin.breakpoint(pc) {
//                 font-size: 2.4rem;
//                 padding: 10px 0;

//             }

//         }
//         &__text {
//             line-height: 1.5;
//             @include mixin.breakpoint(pc) {
//                 font-size: 1.6rem;
//             }

//         }
//     }
// }
