@use '../../foundation/variable';
@use '../../foundation/mixin';


// まだ途中

.c-card {
    padding-bottom: 30px;
    background: red;
    display       : flex;
    flex-direction: column;
    @include mixin.breakpoint(tab) {
        flex-direction: row;
    }
    &__image {
        width          : 100%;
        object-fit     : cover;
        object-position: left;
        display: block;
        @include mixin.breakpoint(tab) {
            width: 50%;
        }
    }
    &__item {
        display        : flex;
        flex-direction : column;
        justify-content: space-between;
        background: variable.$bg--card;
        color  : #fff;
        width  : 100%;
                padding: 20px 5%;
        @include mixin.breakpoint(tab) {
            width  : 50%;
            padding: 20px 5%;
        }
        @include mixin.breakpoint(pc) {
            padding: 40px 5%;
        }
        &__heading {
            font-weight: 700;
            font-size  : 2.0rem;
            padding    : 10px 0;
            @include mixin.breakpoint(tab) {
                padding-bottom: 10px;
            }
            @include mixin.breakpoint(pc) {
                font-size: 3.6rem;
            }
        }
        &__main {
            max-height    : 150px;
            overflow      : hidden;
            width         : 80%;
            padding-bottom: 30px;
            @include mixin.breakpoint(tab) {
                width: 95%;
            }
            &__title {
                font-weight: 700;
                font-size  : 1.6rem;
                padding    : 5px 0;
                @include mixin.breakpoint(pc) {
                    font-size: 2.4rem;
                    padding: 10px 0;
                }
            }
            &__text {
                font-size: 1.6rem;
                line-height: 1.5;
            }
        }
        &__button {
            text-align: center;
            padding-top: 30px;
            padding-bottom: 20px;
            @include mixin.breakpoint(tab) {
                padding-top: 40px;
            }
        }
    }
}

// .btn {
//     text-align: center;
// //     display: flex;
// // justify-content: center;
// padding-top: 30px;
// padding-bottom: 20px;
// @include mixin.breakpoint(tab) {
//     padding-top: 40px;
// }
// }
.c-button {
    background: #ccc;
    // width: 55%;
    // height: 76px;
    // min-width: 200px;
    padding: 10px 15% ;
    @include mixin.breakpoint(pc) {
        padding: 25px 20% ;
    }


}
// .test3 {
    
//     width: 80%;
//     max-height: 160px;
//     overflow: hidden;
//     @include mixin.breakpoint(tab) {
//         width: 95%;
//         max-height: 155px;


//     }
// }
// kokokara
// .c-card {
//     display: grid;
//     grid-template-columns: 1fr;
//         @include mixin.breakpoint(tab) {
//             display: grid;
//             grid-template-columns: 1fr 1fr;
//             }

//     &__image {
//         width: 100%;
//         height         : 100%;
//         object-fit     : cover;
//                 object-position: left;

//         display: inline;
//         vertical-align: bottom;
//     }
//     &__item {
//         padding: 20px 5%;
//         background: pink;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         @include mixin.breakpoint(tab) {
//             padding: 20px 10%;

//         }
//         @include mixin.breakpoint(pc) {
//             padding: 40px 10%;
//         }

//         &__title {
//             padding: 10px 0;
//                 font-size: 2.0rem;
//             // @include mixin.breakpoint(tab) {
//             //     padding-bottom: 10px;

//             // }
//             @include mixin.breakpoint(pc) {
//                 font-size: 3.6rem;
//             }
//         }
//         &__subtitle {
//             padding: 5px 0;
//             @include mixin.breakpoint(pc) {
//                 font-size: 2.4rem;
//                 padding: 10px 0;

//             }

//         }
//         &__text {
//             line-height: 1.5;
//             @include mixin.breakpoint(pc) {
//                 font-size: 1.6rem;
//             }

//         }
//     }
// }
