@use '../../foundation/variable';
@use '../../foundation/mixin';


.c-pagination {
    display        : flex;
    white-space    : nowrap;
    font-size      : 1.6rem;
    font-family    : variable.$font--roboto;
    font-weight    : 700;
    padding        : 25px 5%;
    align-items    : center;
    justify-content: space-between;
    @include mixin.breakpoint(tab) {
        justify-content: center;
        padding        : 30px 0;
    @include mixin.breakpoint(pc) {
        padding: 65px 0;
    }
}
    &__title {
        margin-right: 0.8%;
        display     : none;
        @include mixin.breakpoint(tab) {
            display: block;
        }
    }
    &__number {
        border    : solid 1px variable.$c--default;
        margin    : 0 0.8%;
        text-align: center;
        display   : none;
        background: #fff;
        @include mixin.breakpoint(tab) {
            display: block;
        }
    }
    &__link {
        display    : block;
        line-height: 35px;
        width      : 35px;
        height     : 35px;
    }


    &__pre {
    text-align: center;
    font-weight: 400;
    span::after {
        content: " 前へ";
        @include mixin.breakpoint(tab) {
            display: none;
        }
    }
    }
    &__next {
        margin-right: 15px;
        text-align  : center;
        @include mixin.breakpoint(tab) {
            margin-right: 0;
        }
        span::before{
            content: "次へ ";
            font-weight: 400;
            @include mixin.breakpoint(tab) {
                display: none;
            }
        }
    }
    &__current {
        background: variable.$bg--card;
        color: #fff;
    }
}
