@use '../../foundation/variable';
@use '../../foundation/mixin';

.p-article {
    padding-bottom: 20px;
    color: variable.$c--brown;
    &__title {
        &--h2 {
            font-size: 2.8rem;
            margin-bottom: 25px;
            @include mixin.breakpoint(tab) {
                font-size: 3.6rem;
                margin-bottom: 55px;
            }
        }
        &--h3 {
            font-size: 2.4rem;
            margin-bottom: 25px;
            @include mixin.breakpoint(tab) {
                font-size: 2.8rem;
                margin-bottom: 50px;
            }
        }
        &--h4{
            font-size: 2.0rem;
            margin-bottom: 20px;
            @include mixin.breakpoint(tab) {
                margin-bottom: 70px;
            }
        }
        &--h5{
            font-size: 2.0rem;
            margin-bottom: 20px;
            @include mixin.breakpoint(tab) {
                margin-bottom: 50px;
            }

        }
        &--h6 {
            font-size: 2.0rem;
            margin-bottom: 20px;
            @include mixin.breakpoint(tab) {
                margin-bottom: 50px;
            }
        }
    }
    &__text {
        line-height: 1.45;
        margin-bottom: 30px;
        @include mixin.breakpoint(tab) {
            margin-bottom: 60px;
        }
    }
}

