@use '../../foundation/variable';
@use '../../foundation/mixin';


.p-image {
    &--full {
        margin-bottom: 30px;
                @include mixin.breakpoint(tab) {
            margin-bottom: 60px;
        }
        & img {
            width  : 100%;
            height : 100%;
            display: block;
        }
    }
    &--sidebyside {
        margin-bottom: 40px;
        @include mixin.breakpoint(tab) {
            margin-bottom: 60px;
        }
        @include mixin.breakpoint(pc) {
            margin-bottom: 50px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &__unit {
            display       : flex;
            flex-direction: row;
            margin-bottom : 45px;
            @include mixin.breakpoint(tab) {
                margin-bottom: 120px;
            }
            @include mixin.breakpoint(pc) {
                margin-bottom: 40px;
            }
            &:nth-child(even) {
                flex-direction: row-reverse;
                & .p-image--sidebyside__item {
                    padding-right: 15px;
                    @include mixin.breakpoint(tab) {
                        padding-right: 25px;
                    }
                    @include mixin.breakpoint(pc) {
                        padding-right: 50px;
                    }
                }
            }
            &:nth-child(odd) {
                & .p-image--sidebyside__item {
                    padding-left: 15px;
                    @include mixin.breakpoint(tab) {
                        padding-left: 25px;
                    }
                    @include mixin.breakpoint(pc) {
                        padding-left: 50px;
                    }
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__image {
            width: 42%;
            img {
                display   : block;
                width     : 100%;
                height    : auto;
                object-fit: cover;
            }
        }
        &__item {
            width     : 58%;
            height    : 160px;
            overflow-y: hidden;
            @include mixin.breakpoint(tab) {
                height: 373px;
            }
            &__text {
                line-height: 1.45;
                color      : variable.$c--brown;
                @include mixin.breakpoint(tab) {
                    line-height: 1.6;
                }
            }
        }
    }
    &--center {
        display        : flex;
        justify-content: center;
        margin-bottom  : 30px;
        @include mixin.breakpoint(tab) {
            margin-bottom: 240px;
        }
        @include mixin.breakpoint(pc) {
            margin-bottom  : 60px;
        }
        & img {
            display  : block;
            width    : 80%;
            max-width: 581px;
        }
    }
    &--gallery {
        display        : flex;
        justify-content: space-between;
        flex-wrap      : wrap;
        margin-bottom  : 15px;
        @include mixin.breakpoint(tab) {
            margin-bottom: 60px;
        }
        @include mixin.breakpoint(pc) {
            margin-bottom: 40px;
        }
        &__image {
            margin-bottom: 20px;
            @include mixin.breakpoint(tab) {
                margin: 0 20px 0 0;
                width : calc((100% - 20px) / 2 );
                &:nth-of-type(2n) {
                    margin: 0 0 20px 0;
                }
            }
            @include mixin.breakpoint(pc) {
                width: calc((100% - 40px) / 3 );
                &:nth-of-type(2n) {
                    margin-right: 20px;
                }
                &:nth-of-type(3n) {
                    margin: 0 0 20px 0;
                }
            }
            & img {
                display: block;
                width  : 100%;
            }
        }
    }
}

