@use '../../foundation/variable';
@use '../../foundation/mixin';


.p-image {
    &--full {
        margin-bottom: 30px;
                @include mixin.breakpoint(tab) {
            margin-bottom: 60px;
        }
        & img {
            width  : 100%;
            height : 100%;
            display: block;
        }
    }
    &--sidebyside {
        margin-bottom: 40px;
        @include mixin.breakpoint(tab) {
            margin-bottom: 60px;
        }
        @include mixin.breakpoint(pc) {
            margin-bottom: 50px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &__unit {
            display       : flex;
            flex-direction: row;
            margin-bottom : 50px;
            @include mixin.breakpoint(tab) {
                margin-bottom: 120px;
            }
            @include mixin.breakpoint(pc) {
                margin-bottom: 40px;
            }
            &:nth-child(even) {
                flex-direction: row-reverse;
                & .p-image--sidebyside__item {
                    padding-right: 15px;
                    @include mixin.breakpoint(tab) {
                        padding-right: 25px;
                    }
                    @include mixin.breakpoint(pc) {
                        padding-right: 50px;
                    }
                }
            }
            &:nth-child(odd) {
                & .p-image--sidebyside__item {
                    padding-left: 15px;
                    @include mixin.breakpoint(tab) {
                        padding-left: 25px;
                    }
                    @include mixin.breakpoint(pc) {
                        padding-left: 50px;
                    }
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__image {
            width: 42%;
            img {
                display   : block;
                width     : 100%;
                height    : auto;
                object-fit: cover;
            }
        }
        &__item {
            width     : 58%;
            height    : 160px;
            overflow-y: hidden;
            @include mixin.breakpoint(tab) {
                height: 373px;
            }
            &__text {
                line-height: 1.45;
                color      : variable.$c--brown;
                @include mixin.breakpoint(tab) {
                    line-height: 1.6;
                }
            }
        }
    }
    &--center {
        display        : flex;
        justify-content: center;
        margin-bottom  : 30px;
        @include mixin.breakpoint(tab) {
            margin-bottom: 240px;
        }
        @include mixin.breakpoint(pc) {
            margin-bottom  : 60px;
        }
        & img {
            display  : block;
            width    : 80%;
            max-width: 581px;
        }
    }
    &--gallery {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__image {
            margin: 0 20px 20px 0;
            width: calc((100% - 60px) / 3 );

            & img {
                display: block;
                width: 100%;
            }
        }
    }
}

// .p-image--sidebyside {
//     // display: flex;
//     // flex-direction: row;
//     // // justify-content: space-between;
//     // &:nth-of-type(even) {
//     //     flex-direction: row-reverse;
//     //     & .test2 {
//     //     padding-right: 20px;

//     //     }
//     // }
//     // &:nth-of-type(odd) .test2{
//     //     // flex-direction: row;
//     //     padding-left: 30px;

//     // }

// }

// .p-image--sidebyside__layout:nth-of-type(even){
//     background: #000;
// }
// .p-image--sidebyside__image {
//     // width: 45%;
//     // img {
//     //     width: 100%;
//     //     display: block;
//     //     height: auto;
//     //     object-fit: cover;
//     // }
// }

// .po {
//     width: 55%;
// }
// .p-image{
//     // &__image{
//     &--full {
//         width: 100%;
//         height: 100%;
//         & img {
//             display: block;
//             width: 100%;
//             height: 100%;
//         }
//     }
// }
//     &--sidebyside {
//     }
// //     }
//     // &__sidebyside {
//     //     display: flex;
//     //     justify-content: space-between;
//     //     //         &:first-of-type{
//     //     //     margin-right: 30px;
//     //     // }
//     //     // li:nth-child(even) {
//     //     //     flex-direction: row-reverse;

//     //     // }
//     //     figure {
//     //         width: 100%;
//     //         display: inline-block;
//     //     }
//     //     &__image {
//     //         display: block;
//     //         height: 100%;
//     //         width: 100%;
//     //         max-width: 100%;
//     //         object-fit: cover;
//     //         // height: auto;
//     //         // margin-right: 30px;

//     //     }
//         // &:first-child{
//         //     margin-right: 30px;
//         // }
//         // &__item {
//         //     &--image {
//         //         width: 40%;
//         //     }
//         //     &--text {
//         //         width: 60%;
//         //     }
//         //     // width: 50%;
//         //     &__image {
//         //         width: 100%;
//         //         // height: 100%;
//         //     }
//         //     &__text {
//         //         width: 100%;
//         //     }
//         // }
//     // }
// }