@use '../../foundation/variable';
@use '../../foundation/mixin';

.p-sidebarMenu {
    &__title {
        padding-left: 10%;
        padding-top : 50px;
        display     : none;
        @include mixin.breakpoint(pc) {
            display: block;
        }
    }
    &__list {
        padding: 180px 0;
        @include mixin.breakpoint(pc) {
            padding-top: 70px;
        }
        &__item {
            padding-left: 10%;
            font-size   : 2.4rem;
            font-weight : 700;
            &__lv2 {
                padding: 25px 0 25px 20px;
                &__item {
                    font-size  : 2.0rem;
                    font-weight: normal;
                    line-height: 250%;
                }
            }
        }
    }
}
